
@font-face {
    font-family:'skr' ;
    src: url(./fonts/Sk-Modernist-Regular.ttf);
}
@font-face {
    font-family:'skb' ;
    src: url(./fonts/Sk-Modernist-Bold.ttf);
}



:root{
    --red-color: #FF174E;
    --light-black-color:#393939 ;
    --white-color: #FFFFFF;
    --black-color: #151515;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    
}

*::selection {
  background: #FF174Eff;
  color: #F3F3F3;
}



body{
    background-color: #F3F3F3;
    width: 100%;
    /* max-width: 1600px; */
    margin: 0 auto;
    font-family: skr;
}


